.container {
    display: flex;
    width: 100%;
    gap: 20px;
  }

.item {
    background-color: var(--bgSoft);
    padding: 22px;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
  }
  
  .item:hover{
    background-color: #2e374a;
  }
  
  .texts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1px;
  }
  
  .number {
    font-size: 24px;
    font-weight: 500;
  }
  
  .detail {
    font-size: 14px;
    font-weight: 300;
  }
  
  .positive {
    color: lime;
  }
  
  .negative {
    color: red;
  }