:root {
    --bg: #171716;
    --bgSoft: #282827;
    --text: white;
    --textSoft: #b7bac1;
    --alt1: #00c0f5;
    --alt2: #07ff53;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--bg);
    color: var(--text);
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }