.container {
    position: fixed;
    padding: 0px 12px 0px 0px;
  }
  
  .item {
    background: linear-gradient(to top, #182237, #164e63);
    padding: 20px 24px;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
  }
  
  .bgContainer {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 50%;
  }
  
  .bg {
    object-fit: contain;
    opacity: 0.2;
  }
  
  .text {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .notification {
    font-weight: 200;
    color: var(--textSoft);
    display: inline-block;
  }
  
  .subtitle {
    color: var(--textSoft);
    font-weight: 500;
    font-size: 12px;
  }
  
  .desc {
    color: var(--textSoft);
    font-size: 14px;
  }
  
  .button {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;
    background-color: #125650;
    color: rgb(153, 246, 228);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .viewAll {
    font-size: 0.8rem;
    text-decoration: none;
    float: right;
    padding: 4px 0px 0px 0px;
  }


.userList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.userItem {
  display: flex;
  align-items: center;
  background-color: #125650;
  color: rgb(153, 246, 228);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.userImageContainer {
  border-radius: 20%;
  padding: 1px 1px 0px 1px;
  background: rgb(153, 246, 228);
}

.userImage {
  width: 40px;
  height: 40px;
  border-radius: 20%;
}

.userName {
  flex-grow: 1;
  margin-left: 15px;
  font-size: 1rem;
}

.userAction {
  background-color: transparent;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 1.5rem;
}

.userAction:hover {
  color: #fff;
}