.container {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #1a1f36; 
  color: #fff;
  height: 100vh;
  box-sizing: border-box;
}

.leftSection {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
}

.playerWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000; 
  border-radius: 8px; 
  overflow: hidden;
}

/* Tornando o vídeo responsivo para ocupar 100% do espaço */
.playerWrapper > :global(.react-player) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.subtitle {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 8px;
  color: #ddd;
}

.chatSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #222;
  padding: 15px;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.chatInput {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #333;
  color: #fff;
}

.chatBox {
  height: 200px;
  padding: 10px;
  background-color: #2f2f33;
  border-radius: 5px;
  overflow-y: auto;
  color: #ddd;
}

.rightSection {
  width: 50%;
  padding: 10px;
  background-color: rgba(26, 31, 54, 0.9); 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.translateButton {
  display: block;
  margin: 10px 0;
  padding: 8px;
  background-color: #00A0E4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.videoItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #333;
  border-radius: 5px;
  margin-bottom: 5px;
  color: #ddd;
}

.videoCode, .videoTitle, .videoDuration, .videoLanguage {
  flex: 1;
}

.addButton {
  background-color: #00A0E4;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
